{% for item in chats %}
    <div class="chat-row {% if date()|date('U') - item.time|date('U') > 3600 %}old-chat{% endif %}">
        <span class="chat-time">{{ item.time|time_ago_in_words }}</span>

        <span class="chat-message">
            <span class="chat-user">{{ item.user.username }}:</span> {{ item.message }}
        </span>
    </div>
{% endfor %}