$bundlePath: "/bundles/sirimangalomeditation/";
$imagesPath: "#{$bundlePath}images";
$fa-font-path: "#{$bundlePath}fonts/";

@import "bootstrap_complete";
@import "font_awesome_complete";
@import "bootstrap_customizations";
@import "sweet_alert";

/* GLOBAL */

.centered {
    text-align: center;
}

/* SHOUTBOX */

.shoutbox {

    background: #FFFFEE;
    border: 1px solid #aaa;

    .messages {
        height: 300px;
        padding: 5px;
        overflow-y: scroll;
    }

    form {
        padding: 5px;
        background: #eee;
        border-top: 1px solid #aaa;

        .form-control {
            width: 500px;
            display: inline-block;
        }
    }

}

.chat-row {
    display: table-row;
}

.chat-time {
    display: table-cell;
    width: 70px;
}

.chat-message {
    display: table-cell;
}

.chat-user {
    font-weight: bold;
    display: inline;
}

.old-chat {
    opacity: .7;
}

/* SESSIONS */

.session-panel {
    .form-control {
        width: 100px;
        display: inline-block;
        margin-right: 10px;
    }
}

/* CHART */

#meditationHours {
    width: 100% !important;
    /*max-width: 800px;*/
    height: auto !important;
}
